<!DOCTYPE html>
<html>
<head>
  <!-- <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <title>i wanna</title>
  <%= csrf_meta_tags %>
  <link href="../../../assets/imports.css" rel="stylesheet" type="text/css">
  <link href="../../../assets/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="../../../assets/jquery-1.11.0.min.js"></script>
  <script src="../../../assets/imports.js"></script>


  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div>
  <h1 class="import-header">CREATE NEW MATCH</h1>
  <p><%= link_to 'NEW', new_match_path %></p>
</div>
<div class="all-matches">
  <h1 class="import-header">ALL MATCHES</h1>
  <div>
    <table>
      <thead>
        <tr class="row">
          <th class="col-lrg-1 import-table-headers">Match ID</th>
          <th class="col-lrg-1 import-table-headers">Neighborhood</th>
          <th class="col-lrg-1 import-table-headers">Genre</th>
          <th class="col-lrg-2 import-table-headers">Name</th>
          <th class="col-lrg-2 import-table-headers">Address</th>
          <th class="col-lrg-1 import-table-headers">City</th>
          <th class="col-lrg-1 import-table-headers">State</th>
          <th class="col-lrg-1 import-table-headers">Zip</th>
          <th class="col-lrg-1 import-table-headers">Yelp Link</th>
          <th class="col-lrg-1 import-table-headers">Update</th>
          <tr>
      </thead>
      <tbody class="import-details">
        <% @matches.each do |match|%>
          <tr id="<%= match.id %>" class="row">
          <%= form_for match do |f| %>
            <td class="col-lrg-1 match-link"><%= match.id %></td>
            <td class="col-lrg-1 match-link"><%= match.neighborhood_id %></td>
            <td class="col-lrg-1 match-link"><%= match.genre_id %></td>
            <td class="col-lrg-2"><input class="import-text-box" value=<%="#{get_venue(match.venue_id).name}" %> /></td>
            <td class="col-lrg-2"><input class="import-text-box" value=<%="#{get_venue(match.venue_id).address}" %> /></td>
            <td class="col-lrg-1"><input class="import-text-box" value=<%="#{get_venue(match.venue_id).city}" %> /></td>
            <td class="col-lrg-1"><input class="import-text-box" value=<%="#{get_venue(match.venue_id).state}" %> /></td>
            <td class="col-lrg-1"><input class="import-text-box" value=<%="#{get_venue(match.venue_id).zip_code}" %> /></td>
            <td class="col-lrg-1 match-link">
              <a target="blank" href=<%= "#{get_venue(match.venue_id).link}"%>>Link</a>
            </td>


            <td class="col-lrg-1 import-buttons"><%= f.submit 'Update', :class => 'approve-delete-buttons update-button', :id => match.id %></td>
          <% end %>

        </tr>
        <% end %>
      </tbody>
    <table>
  </div>
</div>
</body>
</html>